
*{
  background-color: aqua;
  /* background-image:url("../public/images/wp2722874.jpg");
  background-repeat: no-repeat; */
  
}
/* body {
    background-color: aqua;
} */
@media only screen and (max-width:576px) {
    form {
        background-color:deepskyblue;
        display:flex;
        margin: 0px;
    }
    .card-main{
      background-color: aliceblue;
      display: flex;
    }
}
@media only screen and (min-width:576px) {
    form {
        background-color: deepskyblue;
        display:flex;
        margin: 0px;
    }
}
@media only screen and (min-width:1200px) {
    form {
        background-color: deepskyblue;
        display:flex;
        margin: 0px;
    }
   
}
/* form {
 
  background-color: deepskyblue;
 
} */
input{
  margin-left: auto;
}
span{
  margin-left: 40%;
  background-color: deepskyblue;
}
.surm{
  margin-left: 20%;
  background-color: deepskyblue;
}
.bt{
background-color: aquamarine;
}
.bt:hover{
 cursor: pointer;
}
.card-main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-image:url("../public/images/Beautiful-City-Wallpaper.jpg");
  height:max-content;
  
}
.card-head{
  color: blue;
  width: 300px;
  border-radius: 15px;
  background-color:cadetblue;
}
.a{
  align-items: center;
  margin-left: 35%;
  background-color: cadetblue;
}
.card{
  background-color: cadetblue;
  width: 300px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  margin:10px;
}

.card-body,.cd{
  width: 300px;
  height: auto;
  text-align:center;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0px 0px 15px 15px;
  background-color:pink;
  cursor: pointer;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: rgb(250, 215, 249);
  cursor:progress;
}
.btn:hover{
  background-color:lightgreen;
}
.card-foot{
  background-color: cadetblue;
}

